# Permitir acceso al archivo .htaccess
<Files .htaccess>
  Order Allow,Deny
  Deny from all
</Files>

# Establecer el archivo predeterminado como loginUnificado.php
DirectoryIndex loginUnificado.php
# Options -Indexes

# Redirigir errores 404 a la página personalizada
ErrorDocument 404 /LWeb/Web/html/404.html