# Permitir acceso al archivo .htaccess
<Files .htaccess>
  Order Allow,Deny
  Deny from all
</Files>


# Redirigir errores 404 a la página personalizada
ErrorDocument 404 /LWeb/Web/html/404.html
ErrorDocument 403 /LWeb/Web/html/forbidden.html
# Options -Indexes